*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scrollbar-gutter: stable;
}

body {
    min-block-size: 100svh;
    margin: 0;
    line-height: 1.5;
}

img,
picture,
video,
canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}
